In [28]:
import numpy as np
import pandas as pd

from sklearn.cluster import DBSCAN
from sklearn import datasets

## Reading dataset

In [27]:
dataset = pd.read_excel('perfume_data.xlsx',header=None)
dataset = dataset.transpose()

header = dataset.iloc[0]
dataset = dataset[1:]
dataset = dataset.rename(columns=header)

dataset = dataset.iloc[:1,:].transpose()
dataset

                      1
ajayeb            64558
ajmal             60502
amreaj            57040
aood              71083
asgar_ali         68209
bukhoor           71046
burberrry         61096
dehenalaod        68132
junaid            71590
kausar            74631
rose              62999
solidmusk         46014
TeaTreeOil        82394
raspberry         78999
RoseMusk          85056
strawberry        71999
constrected2      66805
carolina_herrera  63076
oudh_ma'alattar   67197
constrected       65151

In [46]:
iris = datasets.load_iris().data[[1]]
iris

array([[4.9, 3. , 1.4, 0.2]])

In [35]:
db = DBSCAN(min_samples=3).fit(iris)

labels = db.labels_

unique = set(labels)

unique

{-1, 0, 1, 2, 3}