In [37]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd

## Reading dataset

In [78]:
dataset = pd.read_excel('perfume_data.xlsx',header=None)
dataset = dataset.transpose()

header = dataset.iloc[0]
dataset = dataset[1:]
dataset = dataset.rename(columns=header)

dataset = dataset.iloc[:2,:].transpose()
dataset

                      1      2
ajayeb            64558  64556
ajmal             60502  60489
amreaj            57040  57040
aood              71083  72087
asgar_ali         68209  68209
bukhoor           71046  71046
burberrry         61096  61096
dehenalaod        68132  69137
junaid            71590  71575
kausar            74631  74649
rose              62999  62999
solidmusk         46014  46014
TeaTreeOil        82394  82382
raspberry         78999  78999
RoseMusk          85056  85056
strawberry        71999  71999
constrected2      66805  65808
carolina_herrera  63076  63072
oudh_ma'alattar   67197  67197
constrected       65151  66151

## KMeans

In [82]:
kmeans = KMeans(n_clusters=3,random_state=0,init='random').fit(dataset)